logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

# add
**/logs/
**/target/
**/.bsp/
**/.idea/
**/.idea_modules/
**/.project/
**/.settings/

# database
db-file.*

# asdf
.tool-versions