@import form.PostForm
@import play.mvc.Http.Request
@(posts: List[model.Post], postForm: Form[PostForm])(implicit request: Request)

@displayPost(post: model.Post) = {
    <div class="bg-info text-light" style="margin: 10px">
        <h3>@post.getTitle()</h3>
        <span>@post.getContent()</span>
    </div>
}

@main("Post Page") {
 <h1 style="font-family: cursive;">My Posts</h1>

<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-6">
<!--            top -->
            @if(posts.isEmpty()) {
                <h6 style="font-family: fantasy; border-bottom: 1px solid">There are no posts</h6>
            } else {
                <h6 style="font-family: fantasy; border-bottom: 1px solid">@posts.size() Post@if(posts.size()>1){s} found</h6>
            }
<!--            items -->
            @for(post <- posts){
                @displayPost(post)
            }
        </div>
<!--            create-->
            <div class="col-6" style="border: 2px dotted;">
                @helper.form(routes.HomeController.createPost) {
                @helper.CSRF.formField
                    <h4>Create new</h4>
                    <div class="row">
                        <div class="col-6">
                            <label>Title</label>
                            <input name="title" style="width: 100%"/>
                        </div>
                        <div class="col-6">
                            <label>Content</label>
                            <input name="content" style="width: 100%"/>
                            <button type="submit" class="btn btn-primary" style="margin-top: 20px; width: 100%">Create!</button>
                        </div>
                    </div>
                }
                @if(postForm.hasErrors) {
                    <p style="color: red">Invalid Request!</p>
                }
            </div>
    </div>
</div>
}
